<html lang="ru" xmlns:e="http://exam.extension.io">

<body>
<h1>Создание аккаунта клиента</h1>

<e:example name="Создание аккаунта клиента">
    <e:given>
        <e:db-set caption="There are no indParties" table="individual_party"
                  cols="id, first_name, last_name, phone, password"/>
    </e:given>

    <e:db-clean tables="individual_party_account"/>
    <e:db-clean tables="individual_party"/>
    <e:when>
        <e:post url="/signUp">
            <e:case desc="Регистрация">
                <e:body>
                    {
                    "firstName": "User",
                    "lastName" : "Userov",
                    "phone" : "+79100000000",
                    "password" : "qwerty007!"
                    }
                </e:body>
                <e:expected statusCode="201">
                    {
                    "result": "IndividualParty was created!"
                    }
                </e:expected>
                <e:check>
                    <e:db-check caption="IndParty was created:" table="individual_party"
                                cols="id, first_name, last_name, phone, password" orderBy="id">
                        <e:row>!{number}, User, Userov, +79100000000, !{notNull}</e:row>
                    </e:db-check>
                </e:check>
            </e:case>
        </e:post>
    </e:when>
    <e:when>
        <e:post url="/role/+79100000000">
            <e:case desc="Получение админских прав">
                <e:body></e:body>
                <e:expected statusCode="200">
                    {

                    }
                </e:expected>
            </e:case>
        </e:post>
    </e:when>
    <e:then>
        <e:post url="/signIn">
            <e:case desc="Логирование">
                <e:body>
                    {
                    "phone" : "+79100000000",
                    "password" : "qwerty007!"
                    }
                </e:body>
                <e:expected statusCode="200">
                    {
                    "token": "{{string}}"
                    }
                </e:expected>
            </e:case>
        </e:post>
        <e:set var="token" value="{{responseBody 'token'}}" style="display:none"/>
    </e:then>
    <e:then>
        <e:post url="/account" headers="Authorization = Bearer {{token}}">
            <e:case desc="Создание аккаунта">
                <e:body>
                </e:body>
                <e:expected statusCode="201">
                    {
                    "number": "{{string}}",
                    "balance": 0.0,
                    "individualParty": {
                    "firstName": "User",
                    "lastName": "Userov",
                    "phone": "+79100000000"
                    },
                    "cards": []
                    }
                </e:expected>
                <e:check>
                    <e:db-check caption="IndParty was created:" table="individual_party_account"
                                cols="id, number, balance, ind_party_id" orderBy="id">
                        <e:row>!{number}, !{notNull}, 0.0, !{number}</e:row>
                    </e:db-check>
                </e:check>
            </e:case>
        </e:post>
        <e:set var="account" value="{{responseBody 'number'}}" style="display:none"/>
    </e:then>
    <e:then>
        <e:delete url="/account/{{account}}" headers="Authorization = Bearer {{token}}">
            <e:case desc="Удаление аккаунта">
                <e:body>
                </e:body>
                <e:expected statusCode="200">
                    {
                    "result" : "{{string}}"
                    }
                </e:expected>
                <e:check>
                    <e:db-check caption="Widget was deleted:" table="individual_party_account"/>
                </e:check>
            </e:case>
        </e:delete>
    </e:then>
    <e:db-clean tables="individual_party_account"/>
    <e:db-clean tables="individual_party"/>
</e:example>
</body>
</html>