<html lang="ru" xmlns:e="http://exam.extension.io">

<body>
<h1>Тестирование логирования клиента</h1>

<e:example name="Успешная регистрация клиента">
    <e:given>
        <e:db-set caption="There are no indParties" table="individual_party"
                  cols="id, first_name, last_name, phone, password"/>
    </e:given>
    <e:when>
        <e:db-clean tables="individual_party_account"/>
        <e:db-clean tables="individual_party"/>
        <e:post url="/signUp">
            <e:case desc="Регистрация">
                <e:body>
                    {
                    "firstName": "User",
                    "lastName" : "Userov",
                    "phone" : "+79100000000",
                    "password" : "qwerty007!"
                    }
                </e:body>
                <e:expected statusCode="201">
                    {
                    "result": "IndividualParty was created!"
                    }
                </e:expected>
                <e:check>
                    <e:db-check caption="IndParty was created:" table="individual_party"
                                cols="id, first_name, last_name, phone, password" orderBy="id">
                        <e:row>!{number}, User, Userov, +79100000000, !{notNull}</e:row>
                    </e:db-check>
                </e:check>
            </e:case>
        </e:post>
    </e:when>
    <e:then>
        <e:post url="/signIn">
            <e:case desc="Логирование">
                <e:body>
                    {
                    "phone" : "+79100000000",
                    "password" : "qwerty007!"
                    }
                </e:body>
                <e:expected statusCode="200">
                    {
                    "token": "{{string}}"
                    }
                </e:expected>
            </e:case>
        </e:post>
    </e:then>
    <e:then>
        <e:post url="/signIn">
            <e:case desc="Валидации">
                <e:body>
                    {
                    "phone" : "+1",
                    "password" : "2!"
                    }
                </e:body>
                <e:expected statusCode="401">
                    {
                    "timestamp": "{{string}}",
                    "status": 401,
                    "error": "Unauthorized",
                    "path": "/signIn"
                    }
                </e:expected>
            </e:case>
        </e:post>
    </e:then>
    <e:db-clean tables="individual_party_account"/>
    <e:db-clean tables="individual_party"/>
</e:example>

</body>
</html>