<!DOCTYPE html>
<#import "spring.ftl" as spring/>
<head>
    <meta charset="UTF-8">
    <title>Страница входа</title>
</head>
<body>
<h1>Страница входа</h1>
<h2>Введите свои данные</h2>

<form action="/signIn" method="post">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
    <input type="email" name="email" placeholder="Логин">
    <input type="password" name="password" placeholder="Пароль">
    <label>
        <input type="checkbox" name="rememberMe">Запомнить меня
    </label>
    <input type="submit" value="Войти">
</form>
</body>
</html>